<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{action}} la Categorie produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-content-page">

<!-- <div class="form_div"></div> -->
  <form [formGroup]="categorieProduitForm">
    <ion-item>
      <ion-label position="stacked">Nom <span class="error-message">*</span></ion-label>
      <ion-input formControlName="nom" inputmode="text" ></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.nom">
      <ng-container *ngIf="nom.hasError(error.type) && (nom.dirty || nom.touched)">
        <small class="error-message pl10">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">Description <span class="error-message"></span></ion-label>
      <ion-textarea formControlName="description" rows=7 inputmode="text" clearOnEdit="true"></ion-textarea>
    </ion-item>

    <ion-fab position="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button  (click)="logForm()" color="tertiary">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>
  

</ion-content>

