<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="id">Modifier casier</ion-title>
    <ion-title *ngIf="!id">ajouter casier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <form [formGroup]="casierForm">
    <ion-item>
      <ion-label position="stacked">Nom <span class="error-message">*</span></ion-label>
      <ion-input formControlName="nom" inputmode="text"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.nom">
      <ng-container *ngIf="nom.hasError(error.type) && (nom.dirty || nom.touched)">
        <small class="error-message pl10">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">Nombre de bouteille <span class="error-message"></span></ion-label>
      <ion-input formControlName="nbreBtleParCasier" inputmode="numeric" type="number" clearOnEdit="true"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.nbreBtleParCasier">
      <ng-container *ngIf="nbreBtleParCasier.hasError(error.type) && (nbreBtleParCasier.dirty || nbreBtleParCasier.touched)">
        <small class="error-message pl10">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">Description <span class="error-message"></span></ion-label>
      <ion-textarea formControlName="description" rows=7 inputmode="text" clearOnEdit="true"></ion-textarea>
    </ion-item>
    <div *ngFor="let error of errorMessages.description">
      <ng-container *ngIf="description.hasError(error.type) && (description.dirty || description.touched)">
        <small class="error-message pl10">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-fab position="fixed" horizontal="end" vertical="bottom">
      <ion-fab-button   (click)="logForm()">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </form>

</ion-content>

