<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Graphes dépenses du mois</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header color="light">Rapports Gesbar</ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
     <ion-card-subtitle></ion-card-subtitle> 
      <ion-card-title>Evolution des dépenses du mois</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #depenseChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
      <ion-card-title>Repartition des dépenses du mois</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #repartitionDepenseChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
