 <ion-header>
  <ion-toolbar style="--background: var(--ion-color-primary) "> 
    <ion-title>Modifier le recapitulatif </ion-title>
    <ion-buttons slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="modalForm" (ngSubmit)="toto()">
    <ion-item>
      <ion-label position="floating">Label</ion-label>
        <ion-input value="Tresssss"></ion-input>
      </ion-item>
  </form>
</ion-content>
