<!-- <div  class="primary" style="z-index:2">
  <ion-toolbar class="no-border" color="primary">
    <ion-buttons [routerLink]="['/']" slot="start">
      <ion-icon slot="icon-only" class="custom-icon" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Choisir le fournisseur</ion-title>
    <ion-buttons slot="end" routerLink="list-ravitailler" class="ion-padding-end">
      <ion-icon slot="icon-only" class="custom-icon" name="document-text-outline" ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-padding-end" (click)="toogleSearchView()">
      <ion-icon slot="icon-only" class="custom-icon" [name]="searchBtn" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</div> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Choisir le fournisseur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item id="modal-hander">
    <ion-icon slot="start" name="calendar-outline"></ion-icon>
    <ion-label>Date:</ion-label>
    <ion-label slot="end">{{toTextDate(date)}}</ion-label>
  </ion-item>

  
  <div>
    <ion-item button detail routerLink="/ravitaillement/list-ravitailler" >
      <ion-label>Consulter la liste de vos ravitaillements</ion-label>
    </ion-item>
  
    <app-list-fournisseur (alertChoiceEvent)="gotoProduct($event)"></app-list-fournisseur>
  </div>
  <ion-modal trigger="modal-hander" class="custom-date-inline-modal">
      <ng-template>
          <ion-content>
            <ion-datetime #datetime size="cover" [min]="toDatetimeFormat(min_date)" [max]="toDatetimeFormat(max_date)" presentation="date" [value]="toDatetimeFormat(date)" (click)="dateChanged(datetime.value)" mode="ios">
              <ion-buttons slot="buttons">
                <ion-button (click)="closeDate()">Annuler</ion-button>
                <ion-button (click)="confirmDate()">Ok</ion-button>
              </ion-buttons>
            </ion-datetime>
          </ion-content>
      </ng-template>
  </ion-modal>
</ion-content>


