.shop{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-secondary-contrast);
    padding: 5px;
    font-size: 15px;
    letter-spacing: 1.5px;
}