<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des avaries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #myList>
    <ion-list-header>
      <ion-label></ion-label>
    </ion-list-header>
      
    
    <!-- Sliding item with text options on both sides -->
    <div *ngFor="let item of avaries">
      <ion-item-sliding *ngIf="item">
        <ion-item-options side="start" >
          <ion-item-option color="danger" (click)="deleteItem(item)">Supprimer</ion-item-option>
        </ion-item-options>
    
        <ion-item (click)="viewItem(item)">
          <ion-label text-wrap>
            <h3>{{item?.produit.nom}}</h3>
            <ion-text color="secondary">
              <p>{{item?.description}}</p>
            </ion-text>
          </ion-label>
        </ion-item>
    
        <ion-item-options side="end">
          <ion-item-option (click)="updateItem(item)">Update</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>

  </ion-list>
  <ion-fab position="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button  routerLink="add-update-avarie">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>