.modal-content{
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    margin: 15px;
    padding: 10px;
    padding-top: 5px;
    border-radius: 3px;
}
h5{
    color: var(--ion-color-dark);
    text-align: center;
    margin: 0;
}