<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fiche employé de {{employe?.nom}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="view-description">
  <ion-list>
    <ion-item >
      <ion-note>Nom</ion-note>
      <p>{{employe?.nom}}</p>  
    </ion-item>

    <ion-item >
      <ion-note>Adresse</ion-note>
      <p>{{employe?.adresse}}</p>
    </ion-item>

    <ion-item >
      <ion-note>Numero cni</ion-note>
      <p>{{employe?.cni}}</p>
    </ion-item>

    <ion-item >
      <ion-note>Téléphone</ion-note>
      <p>{{employe?.phone1}}</p>
    </ion-item>

  </ion-list>
  <ion-fab position="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button  routerLink="/employe/update/{{id}}">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
