<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details catégorie produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="view-description">
  <ion-list>
    <ion-item>
      <ion-note>Nom</ion-note>
      <p>{{categorieProduit?.nom}}</p>
    </ion-item>
    <ion-item>
      <ion-note>Nombre</ion-note>
      <p>{{categorieProduit?.description}}</p>
    </ion-item>
  </ion-list>
  <ion-fab position="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button  (click)="updateItem(categorieProduit)">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
